* {
	box-sizing: border-box;
}

body {
	padding-bottom: 50px;
	height: 100vh;
	background: linear-gradient(#abb0c4, #d2d9e1);
}

h1 {
	color: #fff;
	font-size: 1.3rem;
}

h3 {
	font-size: 1rem;
}

header {
	background: linear-gradient(rgba(15, 13, 35, 0.9), rgba(37, 48, 68, 0));
	padding: 40px 15%;
	display: flex;
	justify-content: space-between;
}
.inner-header {
	display: flex;
	align-items: center;
	width: 300px;
}
.inner-header input {
	margin: 0 5px;
	width: 100%;
}
input {
	color: #0f0d23;
	background: #d2d9e1;
	padding: 7px 10px;
	border: none;
}
input[type='submit'] {
	width: 40%;
	color: #fff;
	border: none;
	background: rgba(15, 13, 35, 0.7);
	padding: 7px 18px;
}
input[type='submit']:hover {
	cursor: pointer;
	background: rgba(37, 48, 68, 0.6);
}

.main {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
.forecast {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}
.date {
	box-shadow: 6px 6px 6px rgba(37, 48, 68, 0.7);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 275px;
	color: #d2d9e1;
	background: #0f0d23;
	padding: 20px 15px;
	border: 1px solid #000;
}
.status {
	width: 35%;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}
.status > img {
	width: 100%;
}
.status > h3 {
	text-align: center;
}
.info {
	width: 65%;
	margin-left: 20px;
}
.info h2 {
	font-size: 1.2rem;
	text-align: right;
	margin-right: 15px;
}
.temperature {
	font-size: 5rem;
}
.temperature-sub {
	font-size: 1.3rem;
	text-align: center;
}
.hi,
.lo {
	font-size: 1.6rem;
	padding: 5px 0;
}
.hi {
	border-bottom: 2px solid #000;
}
.temperature-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 25px;
}

@media screen and (max-width: 1150px) {
	.forecast {
		width: 600px;
		margin: 0 auto;
		grid-row-gap: 20px;
		grid-template-columns: 1fr 1fr;
	}
	body {
		height: initial;
	}
}

@media screen and (max-width: 600px) {
	.forecast {
		width: 100%;
		grid-template-columns: 1fr;
	}
	header {
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-size: 1.8rem;
	}
	.inner-header {
		margin-top: 20px;
		flex-direction: column;
		width: 300px;
	}
	.inner-header input {
		width: 100%;
		font-size: 0.8rem;
		margin: 4px 0;
		padding: 12px 10px;
	}
}
